*{
    margin: 0;
    padding: 0;
}
.card{
    width:300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}
.img_info img{
    width: 80%;
    height: 10%;
    padding: 30px;

}
.price{
   gap: 10px;
}