body{
    background-color: black;
}
.menu{
    height: 100svh;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: grey;
}
.menu .look{
    padding: 10px;
    font-size: 24px;
    border-bottom :2px solid black;
    border-radius: 10px;
}
.menu .look:hover{
    background-color: blue;
    cursor:pointer; 
}
.menubar{
    color:white;
    cursor: pointer;
}
.exit{
    right: 0px;
    font-size: 40px;
   color: white;
}